body {
  background: #000;
}

.bg {
  background-image: url("1_5lyavS59mazOFnb55Z6znQ.webp");
  height: 700px;
}

.head {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10000;
}
.head img {
  width: 12%;
}

.head a {
  color: #fff;
  text-decoration: none;
  background-color: #e50914;
  border-radius: 5px;
  padding: 6px 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-right: 30px;
}

.part1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.6rem solid #111;
}

.part1 .talk {
  width: 35%;
}

.part1 .talk h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  padding-bottom: 2px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.part1 .talk p {
  font-size: 1.3rem;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.part1 .img {
  width: 35%;
}

.part1 .img img {
  width: 100%;
}

.part2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.6rem solid #111;
}

.part2 .talk {
  width: 45%;
}

.part2 .talk h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  padding-bottom: 2px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.part2 .talk p {
  font-size: 1.3rem;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.part2 .img {
  width: 35%;
}

.part2 .img img {
  width: 100%;
}

.list {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.list h1 {
  color: #fff;
  font-size: 2.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 3rem 0 4rem 0;
}

.item {
  border-width: 100;
  background: #303030;
  color: white;
  font-size: 1.3rem;
  font-weight: 200;
  text-decoration: none;
  border-radius: 5px;
  padding: 6px 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.text p {
  border-width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 2;
  width: 420px;
  height: 450px;
  background: rgba(0, 0, 0, 0.664);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 60px 65px;
}

container1 {
  margin-left: 10%;
  margin-top: 1%;
  width: 440px;
  height: 590px;
  background-color: rgba(0, 0, 0, 0.247);
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container h1 {
  color: #fff;
  margin-top: 60px;
  margin-left: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container1 h1 {
  color: #fff;
  margin-top: 60px;
  margin-left: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input {
  margin-left: 50px;
  margin-top: 20px;
  width: 320px;
  height: 47px;
  background-color: white;
  border-radius: 3px;
  border: none;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input::placeholder {
  font-size: 17px;
  margin-left: 15px;
  padding: 12px;
}

input[type="submit"] {
  width: 320px;
  height: 45px;
  background-color: red;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input[type="checkbox"] {
  width: 25px;
  height: 18px;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  color: rgb(125, 119, 119);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form a {
  float: right;
  margin-top: 24px;
  margin-right: 64px;
  color: rgb(125, 119, 119);
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.content {
  position: absolute;
  margin-top: 80px;
  font-size: 9px;
  margin-left: 55px;
}

.content h2 {
  color: rgb(125, 119, 119);
  margin-top: -10px;
}

.container1 a {
  color: #fff;
  text-decoration: none;
}

.container a {
  color: #fff;
  text-decoration: none;
}
.footer {
  padding-top: 3rem;
  background-size: cover;
  background-position: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 7.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 3rem 5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.footer .box-container .box p {
  font-size: 1.3rem;
  padding: 0.5rem 0;
  color: #eee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer .box-container .box a {
  display: block;
  font-size: 1rem;
  padding: 0.5rem 0;
  color: #eee;
  margin-left: 101px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer .box-container .box .info {
  display: flex;
  align-items: center;
}

.footer .box-container .box .info i {
  margin: 0.5rem 0;
  margin-right: 1rem;
  border-radius: 50%;
  background: #fff;
  font-size: 1rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
}
